<div class="col-md-12">
<div class="navbar">
    <button class="btn btn-success" routerLink="../createpoll" routerLinkActive="active" >Create poll</button>
    <button class="btn btn-success"  routerLink="../userlist" routerLinkActive="active" >User List</button>
    <button class="btn btn-success"  routerLink="../polllist" routerLinkActive="active">Poll List</button>
    <button class="btn btn-success" (click)="clearToken()" routerLink="../login" routerLinkActive="active" >Logout</button>
    </div>
</div>
